<tr>
    <td>
        <table align="center">
            <tr>
                <td align="center" class="content-cell py-[35px] px-[45px] text-base">
                    <p class="mt-2.5 mb-2 text-md leading-6 text-center text-gray-innovian-light">
                        &copy; {{ page.year }} {{ page.company.name}}. All rights reserved.
                    </p>
                    <not-outlook>
                        <img class="w-8" src="logo.png">
                    </not-outlook>
                </td>
            </tr>
        </table>
    </td>
</tr>